<!DOCTYPE html>
<html>

<head>

<title>College Bus Tracker</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>
<script>

document.addEventListener("click", function(e) {

    let bus = document.createElement("div");

    bus.innerHTML = "🚌";

    bus.style.position = "fixed";
    bus.style.left = e.clientX + "px";
    bus.style.top = e.clientY + "px";

    bus.style.fontSize = "26px";

    bus.style.pointerEvents = "none";

    bus.style.transition = "all 0.5s ease";

    document.body.appendChild(bus);

    setTimeout(() => {
        bus.style.transform = "translateY(-25px)";
        bus.style.opacity = "0";
    }, 50);

    setTimeout(() => {
        bus.remove();
    }, 600);

});

</script>

<body>

<h1>College Bus Time Tracker</h1>

<div class="subtitle">
Real Time GPS Bus Tracking System
</div>

<div class="bus">🚌</div>


<div class="container">

    <a href="/student" class="box">
        <div class="icon">🎓 Student</div>
    </a>

    <a href="/parent" class="box">
        <div class="icon">📍Parent</div>
    </a>

    <a href="/driver" class="box">
        <div class="icon">🚌Driver</div>
    </a>

    <a href="/admin" class="box">
        <div class="icon">⚙️ Admin</div>
       
    </a>

</div>
</div>

</div>

</body>
</html>